---
import Layout from "@layout/layout.astro"
---

<Layout title="Page Not Found" description="The page you are looking for does not exist">
	<div class="grid h-[30rem] place-content-center bg-white my-12">
	  <div class="text-center">
	    <strong class="text-9xl font-black text-gray-400">404</strong>
	    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">
	      Uh-oh!
	    </h1>
	    <p class="mt-4">We can't find that page.</p>
	    <a href="/" class="mt-6 inline-block rounded bg-sky-600 px-5 py-3 font-medium text-white hover:bg-sky-700 focus:outline-none focus:ring">
	      Go Back Home
	    </a>
	  </div>
	</div>
</Layout>
